lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.orig

pids
logs
results

node_modules
coverage
karma_html

.project
.sass-cache
.settings
.DS_Store

app/common/dist/*
app/themes/default/*.css
app/themes/default/*.map
app/themes/default/img/icons/General-*.png
app/themes/default/img/icons/LeftNav-*.png
app/themes/default/img/icons/TopNav-*.png