$main-padding-left: 16px;
$main-padding-right: $main-padding-left;
$main-padding-top: 14px;
$main-padding-bottom: $main-padding-top;

$General-spacing: 2px;
$TopNav-spacing: 2px;
$LeftNav-spacing: 2px;

