$screen-height-tallest : 960px;
$screen-height-tall: 800px;
$screen-height-mid : 600px;
$container-width-small : 400px;
$container-width-narrow : 600px;
$container-width-base : 960px;
$container-width-wide : 1200px;
$screen-height-short : 480px;

$small-screen-width : max-width 480px;
$mid-screen-width :  max-width 768px;
$large-screen-width : max-width 1060px;
$x-large-screen-width : 1400px;
$tablet-height : (max-height $screen-height-tallest) (orientation portrait);
$tablet-land-height : (max-height ($screen-height-short + 20px)) (orientation landscape);
$desktop-height : (max-height $screen-height-tall);



.clear {
  clear: both;
}

$medseek : (
  container : $container-width-base,
  columns : 16,
  math : fluid,
) !global;
$medseek-banner : (
  container : auto,
  columns : 16,
  math : fluid,
) !global;
$medseek-context : (
  container : 20%,
  container-position: left,
  columns : 4,
  math : fluid
) !global;
$medseek-content : (
  container : 80%,
  container-position: right,
  columns : 12,
  math : fluid
) !global;
/*
@include breakpoint($large-screen-width){
$medseek : (
  container : 950px,
  columns : 12,
  math : fluid,
) !global;
$medseek-banner : (
  container : auto,
  columns : 12,
  math : fluid,
) !global;
$medseek-context : (
  container : 20%,
  container-position: left,
  columns : 4,
  math : fluid
) !global;
$medseek-content : (
  container : 80%,
  container-position: right,
  columns : 12,
  math : fluid
) !global;
}

@include breakpoint($x-large-screen-width){
$medseek : (
  container : 90%,
  columns : 12,
  math : fluid,
) !global;
$medseek-banner : (
  container : auto,
  columns : 12,
  math : fluid,
) !global;
$medseek-context : (
  container : 18%,
  container-position: left,
  columns : 4,
  math : fluid
) !global;
$medseek-content : (
  container : 82%,
  container-position: right,
  columns : 12,
  math : fluid
) !global;
}
*/

// Tight Gutter Grid

.row-tight {
  margin-left: -5px;
  margin-right: -5px;
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.col-sm-45p {
  @extend .col-sm-5;
  @include breakpoint(768px) {
    width: 45%;
  }
}

.col-sm-10p {
  @extend .col-sm-2;
  @include breakpoint(768px) {
    width: 10%;
  }
}
