
$medseek-icons : (

to-end : "\e800",
to-end-alt : "\e801",
to-start-alt : "\e802",
fast-fw : "\e803",
fast-bw : "\e804",
to-start : "\e805",
play : "\e806",
mail-alt : "\e807",
ok : "\e808",
ok-circled : "\e809",
ok-circled2 : "\e80a",
ok-squared : "\e80b",
cancel : "\e80c",
cancel-circled : "\e80d",
cancel-circled2 : "\e80e",
plus : "\e80f",
plus-circled : "\e810",
plus-squared-alt : "\e811",
minus : "\e812",
minus-circled : "\e813",
plus-squared : "\e814",
minus-squared : "\e815",
minus-squared-alt : "\e816",
help : "\e817",
help-circled : "\e818",
home : "\e819",
info : "\e81a",
info-circled : "\e81b",
mail : "\e81c",
star : "\e81d",
star-empty : "\e81e",
user : "\e81f",
male : "\e820",
female : "\e821",
link-ext : "\e822",
lock : "\e823",
lock-open : "\e824",
lock-open-alt : "\e825",
eye : "\e826",
eye-off : "\e827",
tag : "\e828",
tags : "\e829",
thumbs-up : "\e82a",
thumbs-down : "\e82b",
thumbs-up-alt : "\e82c",
thumbs-down-alt : "\e82d",
upload : "\e82e",
reply : "\e82f",
reply-all : "\e830",
forward : "\e831",
quote-left : "\e832",
quote-right : "\e833",
print : "\e834",
comment : "\e835",
chat : "\e836",
comment-empty : "\e837",
chat-empty : "\e838",
bell-alt : "\e839",
attention-alt : "\e83a",
attention : "\e83b",
attention-circled : "\e83c",
trash : "\e83d",
doc : "\e83e",
docs : "\e83f",
doc-inv : "\e840",
doc-text-inv : "\e841",
folder-open : "\e842",
folder-empty : "\e843",
folder-open-empty : "\e844",
folder : "\e845",
phone : "\e846",
phone-squared : "\e847",
cog : "\e848",
lightbulb : "\e849",
link : "\e84a",
search : "\e84b",
th-list : "\e84c",
flag : "\e84d",
flag-empty : "\e84e",
zoom-in : "\e84f",
zoom-out : "\e850",
down-dir : "\e851",
up-dir : "\e852",
left-dir : "\e853",
right-dir : "\e854",
down-open : "\e855",
left-open : "\e856",
up-open : "\e857",
angle-left : "\e858",
angle-right : "\e859",
angle-down : "\e85a",
angle-up : "\e85b",
angle-circled-left : "\e85c",
angle-circled-right : "\e85d",
angle-circled-up : "\e85e",
angle-circled-down : "\e85f",
angle-double-left : "\e860",
angle-double-right : "\e861",
angle-double-up : "\e862",
angle-double-down : "\e863",
left : "\e864",
down : "\e865",
up : "\e866",
left-big : "\e867",
right-big : "\e868",
down-big : "\e869",
up-big : "\e86a",
left-hand : "\e86b",
right-hand : "\e86c",
up-hand : "\e86d",
down-hand : "\e86e",
left-circled : "\e86f",
up-circled : "\e870",
down-circled : "\e871",
cw : "\e872",
ccw : "\e873",
arrows-cw : "\e874",
pause : "\e875",
stop : "\e876",
desktop : "\e877",
cloud : "\e878",
flash : "\e879",
moon : "\e87a",
umbrella : "\e87b",
flight : "\e87c",
fighter-jet : "\e87d",
align-left : "\e87e",
align-center : "\e87f",
align-right : "\e880",
list : "\e881",
list-bullet : "\e882",
list-numbered : "\e883",
briefcase : "\e884",
suitcase : "\e885",
road : "\e886",
check : "\e887",
dot-circled : "\e888",
circle-empty : "\e889",
sort-name-up : "\e88a",
sort-name-down : "\e88b",
sort-number-down : "\e88c",
sort-number-up : "\e88d",
spinner : "\e88e",
dot-3 : "\e88f",
wrench : "\e890",
user-1 : "\e891",
users : "\e892",
user-add : "\e893",
users-1 : "\e894",
circle : "\e895",
check-empty : "\e896",
stethoscope : "\e897",
ambulance : "\e898",
medkit : "\e899",
h-sigh : "\e89a",
location : "\e89b",
direction : "\e89c",
box : "\e89d",
help-1 : "\e89e",
help-circled-1 : "\e89f",
info-1 : "\e8a0",
info-circled-1 : "\e8a1",
inbox : "\e8a2",
lock-1 : "\e8a3",
lock-open-1 : "\e8a4",
ellipsis : "\e8a5",
ellipsis-vert : "\e8a6",
download : "\e8a7",
upload-1 : "\e8a8",
attention-1 : "\e8a9",
trash-1 : "\e8aa",
key : "\e8ab",
phone-1 : "\e8ac",
hospital : "\e8ad",
building : "\e8ae",
windy-rain-inv : "\e8af",
snow-heavy-inv : "\e8b0",
hail-inv : "\e8b1",
clouds-inv : "\e8b2",
clouds-flash-inv : "\e8b3",
temperature : "\e8b4",
na : "\e8b5",
clouds-flash-alt : "\e8b6",
sun-inv : "\e8b7",
moon-inv : "\e8b8",
cloud-sun-inv : "\e8b9",
cloud-moon-inv : "\e8ba",
sunrise : "\e8bb",
sun : "\e8bc",
moon-1 : "\e8bd",
cog-1 : "\e8be",
cog-circled : "\e8bf",
cogs : "\e8c0",
mic : "\e8c1",
mute : "\e8c2",
volume-off : "\e8c3",
volume-down : "\e8c4",
volume-up : "\e8c5",
signal : "\e8c6",
mobile : "\e8c7",
tablet : "\e8c8",
at : "\e8c9",
building-filled : "\e8ca",
bank : "\e8cb",
smile : "\e8cc",
frown : "\e8cd",
meh : "\e8ce",
android : "\e8cf",
apple : "\e8d0",
css3 : "\e8d1",
facebook-squared : "\e8d2",
gplus-squared : "\e8d3",
html5 : "\e8d4",
dot-2 : "\e8d5",
dot : "\e8d6",
air : "\e8d7",
lock-open-2 : "\e8d8",
lock-2 : "\e8d9",
celcius : "\e8da",
fahrenheit : "\e8db",
rain-inv : "\e8dc");

/*
 * map of bootstap's icon fonts
 */
$bootstrap-icons : (
asterisk : "\2a",
plus : "\2b",
euro : "\20ac",
minus : "\2212",
cloud : "\2601",
envelope : "\2709",
pencil : "\270f",
glass : "\e001",
music : "\e002",
search : "\e003",
heart : "\e005",
star : "\e006",
star-empty : "\e007",
'user' : "\e008",
film : "\e009",
th-large : "\e010",
'th' : "\e011",
th-list : "\e012",
ok : "\e013",
remove : "\e014",
zoom-in : "\e015",
zoom-out : "\e016",
off : "\e017",
signal : "\e018",
cog : "\e019",
trash : "\e020",
home : "\e021",
file : "\e022",
'time' : "\e023",
road : "\e024",
download-alt : "\e025",
download : "\e026",
upload : "\e027",
inbox : "\e028",
play-circle : "\e029",
'repeat' : "\e030",
refresh : "\e031",
list-alt : "\e032",
lock : "\e033",
flag : "\e034",
headphones : "\e035",
volume-off : "\e036",
volume-down : "\e037",
volume-up : "\e038",
qrcode : "\e039",
barcode : "\e040",
tag : "\e041",
tags : "\e042",
book : "\e043",
bookmark : "\e044",
'print' : "\e045",
camera : "\e046",
'font' : "\e047",
'bold' : "\e048",
'italic' : "\e049",
text-height : "\e050",
text-width : "\e051",
align-left : "\e052",
align-center : "\e053",
align-right : "\e054",
align-justify : "\e055",
'list' : "\e056",
indent-left : "\e057",
indent-right : "\e058",
facetime-video : "\e059",
picture : "\e060",
map-marker : "\e062",
'adjust' : "\e063",
tint : "\e064",
edit : "\e065",
share : "\e066",
check : "\e067",
'move' : "\e068",
step-backward : "\e069",
fast-backward : "\e070",
backward : "\e071",
'play' : "\e072",
'pause' : "\e073",
stop : "\e074",
forward : "\e075",
fast-forward : "\e076",
step-forward : "\e077",
eject : "\e078",
chevron-left : "\e079",
chevron-right : "\e080",
plus-sign : "\e081",
minus-sign : "\e082",
remove-sign : "\e083",
ok-sign : "\e084",
question-sign : "\e085",
info-sign : "\e086",
screenshot : "\e087",
remove-circle : "\e088",
ok-circle : "\e089",
ban-circle : "\e090",
arrow-left : "\e091",
arrow-right : "\e092",
arrow-up : "\e093",
arrow-down : "\e094",
share-alt : "\e095",
resize-full : "\e096",
resize-small : "\e097",
exclamation-sign : "\e101",
gift : "\e102",
leaf : "\e103",
fire : "\e104",
eye-open : "\e105",
eye-close : "\e106",
warning-sign : "\e107",
plane : "\e108",
calendar : "\e109",
random : "\e110",
comment : "\e111",
magnet : "\e112",
chevron-up : "\e113",
chevron-down : "\e114",
retweet : "\e115",
shopping-cart : "\e116",
folder-close : "\e117",
folder-open : "\e118",
resize-vertical : "\e119",
resize-horizontal : "\e120",
hdd : "\e121",
bullhorn : "\e122",
bell : "\e123",
certificate : "\e124",
thumbs-up : "\e125",
thumbs-down : "\e126",
hand-right : "\e127",
hand-left : "\e128",
hand-up : "\e129",
hand-down : "\e130",
circle-arrow-right : "\e131",
circle-arrow-left : "\e132",
circle-arrow-up : "\e133",
circle-arrow-down : "\e134",
globe : "\e135",
wrench : "\e136",
tasks : "\e137",
filter : "\e138",
briefcase : "\e139",
fullscreen : "\e140",
dashboard : "\e141",
paperclip : "\e142",
heart-empty : "\e143",
'link' : "\e144",
phone : "\e145",
pushpin : "\e146",
usd : "\e148",
gbp : "\e149",
sort : "\e150",
sort-by-alphabet : "\e151",
sort-by-alphabet-alt : "\e152",
sort-by-order : "\e153",
sort-by-order-alt : "\e154",
sort-by-attributes : "\e155",
sort-by-attributes-alt : "\e156",
unchecked : "\e157",
expand : "\e158",
collapse-down : "\e159",
collapse-up : "\e160",
log-in : "\e161",
flash : "\e162",
log-out : "\e163",
new-window : "\e164",
record : "\e165",
save : "\e166",
open : "\e167",
saved : "\e168",
import : "\e169",
export : "\e170",
send : "\e171",
floppy-disk : "\e172",
floppy-saved : "\e173",
floppy-remove : "\e174",
floppy-save : "\e175",
floppy-open : "\e176",
credit-card : "\e177",
transfer : "\e178",
cutlery : "\e179",
'header' : "\e180",
compressed : "\e181",
earphone : "\e182",
phone-alt : "\e183",
tower : "\e184",
stats : "\e185",
sd-video : "\e186",
hd-video : "\e187",
subtitles : "\e188",
sound-stereo : "\e189",
sound-dolby : "\e190",
sound-5-1 : "\e191",
sound-6-1 : "\e192",
sound-7-1 : "\e193",
copyright-mark : "\e194",
registration-mark : "\e195",
cloud-download : "\e197",
cloud-upload : "\e198",
tree-conifer : "\e199",
tree-deciduous : "\e200");
/*
 * Font Custom: bare CSS
 */
$iconsetName : "medseekicons1";
@include font-face($iconsetName, font-files("medicons1.woff","medicons1.ttf","medicons1.svg"));

%medseekIcons:before, %medseekIcons:after {
    display: inline-block;
    font-family: $iconsetName;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;
}


@include font-face('Glyphicons Halflings', font-files("bootstrap/glyphicons-halflings-regular.woff","bootstrap/glyphicons-halflings-regular.ttf","bootstrap/glyphicons-halflings-regular.svg"));
