// Panels

.panel.panel-default {
  .panel-heading .panel-title .accordion-toggle:hover {
      text-decoration: none;
  }
}

.panel-group {
	clear: both;
}

.panel.panel-table .panel-heading {
	color: #666;
	background-color: #f5f5f5;
	border: 1px #ddd solid;
	border-bottom: 0;
}