<div ng-controller="DefaultLayoutCtrl">
  	<div ng-class="basicLayout" class="basicLayout" id="layout" >
  		<section class="banner">
  		    <module path="page.sections.banner" ></module>
  		</section>
  		<div class="main">
  			<module path="page.sections.main" ></module>
  		</div>
  		<footer  id="site-footer">
        <div class="logo-footer"></div>
        <ul class="copyright">
            <li>Copyright &copy; 2006 - {{site.year}} Influence Health. All Rights Reserved.</li>
         </ul>
        </footer>
  	</div>

</div>
