.addPatientTask
{
    #lb-top-row div, #lb-top-row div a {
        color: #FFF;
    }

    .lb-button-list.cancelButtonBar {
        width:170px;
         margin:0 auto;
    }

    .lb-button-list.pull-right.wizardButtonBar{
        margin-top:10px;
    }
    .well .cancelAlert{
        margin-top:55px;
    }
    .lb-arrow-wrap-top {
        background-color: #526e83;
        height: 40px;

        text-align:center;
        border-bottom: 2px solid #FFF;
        float: left;
        vertical-align: middle;
    }

    .lb-arrow-wrap-top.left {
        border-right: 2px solid #FFF;
        @include span(first 3% no-gutters);
    }

    .lb-arrow-wrap-top.right {
        border-left: 2px solid #FFF;
        @include span(last 3% no-gutters);
    }

    .lb-arrow-wrap-top.inactive {
        background-color: #999;
    }

    .lb-arrow-wrap-top span.glyphicon {
        color:white;
        line-height: 36px;
        vertical-align:middle;
        font-size: 18px;
    }

    #lb-body-row .body-wrap {
        border: 4px solid #6fa8dd;
        padding: 5px;
        margin-bottom: 20px;
    }

    .lb-top-cell-wrap {
        @include span(94% no-gutters);
    }

    .lb-top-cell {
        width: 50%;
        float: left;
        height: 40px;
        border-bottom: 2px solid #FFF;
        background-color: #999;
        vertical-align: middle;
        padding: 1px 5px;
        line-height: 20px;
        display:table;
    border-right: 3px solid #FFF;
    }
    .lb-top-cell-sm{
	width: 33.3%;
}
.lb-top-cell-sm:last-child{
	border-right:0px;
    }
    .lb-top-cell.last {
        border-right: none;
    }

    .lb-top-cell.active {
        background-color: #6fa8dd;
        border-bottom: 2px solid #6fa8dd;
    }

    .lb-top-cell.success {
        background-color: #6AA84F;
    }

    .lb-top-checkmark {
            float: right;
            margin-top: -2px;
    }

    .lb-top-checkmark-first {
            position:absolute;
            left:260px;
            top:7px;
    }

    .lb-top-number {
        float: left;
        font-size: 28px;
        margin-right: 7px;
    }

    .lb-top-inner-text {
        display: table-cell;
        vertical-align:middle;
        font-size: 16px;
    }

    .lb-body-left-nav {
        float: left;
        width: 25%;
    }

    .lb-body-content {
        float: left;
        width: 75%;
        border: 1px solid #6fa8dd;
        padding: 5px;
    }

    .summary-width {
        width: 100%;
    }

    .lb-body-summary-content {
        padding: 5px;
    }

    .lb-body-content .content-toolbar {
        margin-top: 0px;
    }

    .lb-step-container {
            min-height: 350px;
      > .container {
        width : auto;
        input{
          &[type=text] {
           @include span(98%);
          }
          &[type=date]{
          @include span(35%);
          }
        }
      }
    }

    .lb-title {
        color: #6fa8dd;
        margin-top: 5px;
    }

    .lb-body-left-nav ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .lb-body-left-nav li {
        padding: 0 4px;
        background-color: #999;
        line-height: 33px;
        height: 44x;
        color: #FFF;
        border-right: 2px solid #FFF;
        margin: 4px 0;
        position: relative;
    }

    .lb-body-left-nav li.active {
        background-color: #FFF;
        color: #6fa8dd;
        border-left: 1px solid #6fa8dd;
        border-top: 1px solid #6fa8dd;
        border-bottom: 1px solid #6fa8dd;
        border-right: 1px solid #FFF;
    }

    .lb-body-left-nav .inactive {
        color: #FFF;
    }

    .lb-body-left-nav .inactive a {
        color: #FFF;
    }

    .lb-body-left-nav li.success {
        background-color: #6AA84F;
    }

    .lb-body-left-nav li.success a {
        color: #FFF;
    }

    .lb-left-nav-letter {
        padding-right: 5px;
        font-size: 20px;
        color: #FFF;
    }

    .lb-body-left-nav li.active .lb-left-nav-letter {
        color: #6fa8dd;
    }

    li.lb-arrow {
        text-align: center;
        margin: 0;
        padding-left: 5px;
    }

    li.lb-arrow span {
        font-size: 18px;
        line-height: 30px;
        color: #FFF;
    }

    .lb-left-nav-active-extender {
        display:none;
    }

    .lb-body-left-nav li.active .lb-left-nav-active-extender {
        display: inline-block;
        position: absolute;
        top: -1px;
        right: -2px;
        height: 38px;
    }


    #lb-arrow-bottom-list-location-detail {
        margin-top: 236px;
    }

    #lb-arrow-bottom-map {
        margin-top: 291px;
    }

    .service-area-indent {
        margin-left: 42px;
    }

    .list-box-header {
        background-color: #6FA8DD;
        color: #FFF;
        padding: 5px;
    }

    .legend-title {
        background-color: #6AA84F;
        color: #FFF;
        padding: 5px 5px 5px 10px;
        height: 40px;
        line-height: 30px;
    }

    .legend-body {
        border-left: 1px solid #CCC;
        border-right: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        padding: 10px;
        font-size: 13px;
    }

    .legend-dot {
        width: 14px;
        height: 14px;
        border-radius: 7px;
        margin-right: 10px;
        display: inline-block;
    }

    #legend {
        position: absolute;
        bottom: 7px;
        right: 7px;
        z-index: 999;
        width: 162px;
        background-color: #FFF;
        opacity: 0.9;
    }

    #legend:hover {
        opacity: 1;
    }

    .panel-default > div.quick-count-heading {
         background-color: #999;
         border-color:#DDD;
         color: #FFF;
    }

    .report-frame {
         width: 100%;
         height: 650px;
    }

    /* END - List Builder Wizard */

    .panel-default > .panel-heading {
        background-color: #999;
        color: #FFF;
    }

    .table > thead > tr > th.table-title {
        background-color: #999;
        color: white;
        border: 1px solid #DDD;
        font-size: 16px;
        padding: 10px  15px;
    }

    .table > thead > tr.table-subtitle > th {
        background-color: #EBEBEB;
        color: #333;
        font-weight: 600;
    }

    .ngCellText {
        line-height : 40px;
    }

    .ngRow.even:hover, .ngRow.odd:hover {
        background: #c0c0c0;
    }
    .close-icon{
        color:#fff;
        font-size:22px;
        top:-5px;
    }
    .modal-header span{
        color:#fff;
    }

    .paddingMedium {
        padding: 10px 0;
    }

    .marginLeftSmall {
        margin-left: 5px;
    }

    .paddingSmall {
        padding: 5px;
    }

    .btn-small {
        height: 30px;
        line-height: 15px;
    }

    .outer-wrap-widgets{
        background-color: #6AA84F;padding:3px 32px 0 0;height:200px;
    }

    .outer-wrap-widgets a{
        color:#666;
    }

    .inner-wrap-widgets{
        background:#fff;padding:5px;height:198px;
    }

    .widget-header{
        color:#666666;
    }

    .margin-null{
        margin:0;
    }

    .widget-label-container{
        padding:10px;
    }

    .widget-label{
        padding: 5px 0px;

    }

    .font-xs{
        font-size:12px;
    }

    .push-left-small{
        margin-left:5px;
    }

    .push-left-med{
        margin-left:10px;
    }

    .alignCenter{
        text-align:center;
    }

    .padding-null{
        padding:0;
    }
    .panel-group .panel-heading+.panel-collapse .panel-body{
        border:0;
    }

    .margin-Right-DefineFilters {
    margin-right : -15px;
    }

    .margin-Left-DefineFilters {
    margin-left : -15px;
    }

    .padding-DefineFilters {
    padding-bottom :20px
    }

    .summaryLabel
    {
        display:inline;
    }

    .labelText
    {
       font-weight : bold;
       width :11em;
       display : inline-block;
    }



    .taskNotification
    {
       margin-right: 10em;
    }
    }
    .taskNotificationSuccess {
        .modal-close{
            @include icon-font('cancel-circled2', 30px,white);
            float: right
        }
    }

    .taskNotificationSuccess {
      @include span(full);
      padding: 17px;
      margin-bottom: 1em;
      color: white;
      font-size: large;
      background: palette(green, light);
    }

    .list-group-item-heading{
      margin-top: -1em;
    }
	.confirmation-task {
		margin-left: 25%;
	}