.staff-login-wrapper {
  margin: 0 auto 0 auto;
  background: #fff;
  padding: 1%;
  max-width: 53%;
  border-radius: 0;
	margin-top: 9%;
	border: 1px solid #999;
  .instructions {
    font-style: italic;
  }
  .main-container.change-pw-container {
    min-height: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.portal-logo {
  display: inline-block;
  background: url(/themes/default/img/img_medseek_hdr_logo.png) no-repeat center;
  background-size: contain;
  margin: 0;
  padding: 0;
  width: 32%;
  height: 42px;
}
.page-header {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 170%;
  font-weight: 400;
  color: #333;
  margin: 0.5em 0 1em 0;
  padding-bottom: 0;
  border-bottom: none;
 }
.session {
	$sessionFont1 : 'MyriadPro';
	$sessionFont2 : 'AvenirLight';
	.layout_alpha, .layout_beta{
		position: relative;
			.alpha{
				position: absolute;
				top : 0;
				left: 0;
				h1 {
				font-size: .95em;
				margin: 0 .05em;
				font-family: $sessionFont1;
				}
				legend{
					font-family: $sessionFont1;
					font-size: .95em;
					color: white;
				}
				label {
					float: left;
					font-family: $sessionFont2;
					line-height: 1.2em;
					margin: 0 3% 0 0;
					min-width: 65%;
					padding-top: 5%;
					display: inline-block;
				}
				input {
					font-family: $sessionFont1;
					font-size: 1em;
					height: 2em;
					margin-right: 10%;
					padding: 0 5%;
					width: 130%;
					display: inline-block;
					&[type=checkbox],&[type=radio]{
						width: auto;
						height: auto;
					}					
					&+label{
						
						float: none;
						padding-top:0;
					}
					&[type=submit]{
						width: auto;
						color:white;
						float: right;
					}
				}
			
				.alert{
					z-index : 4;
					position: relative;
					
				}
		}
		.beta{
				position: absolute;
				top : 240%;
				left: 0;
			}
		.gamma {
			position: absolute;
			top :0;
			right:0;
			
		}
		.delta{
			position: absolute;
			top :240%;
			right:0;
		}
	}
	.remaining{
		position: absolute;
		top: 0;
		left: 240%;		
		
	}
	.middle_content{
		min-height: 480%;
		margin: 0 240% 2em;
		fieldset{
			&.password{
				label{
					width : 8em;
					text-align: right;
					margin-right: 1em;
					}
				input{
					&[type=text]{
						width : 10em
					}
					&[type=email]{
						width : 20em
					}
					
				}
			}
		}
		.actionbuttons {
			padding-left: 80%;
			[type='submit']{
				margin-left: 2em;
			}
		}
		.medseek_popup{
			position: absolute;
			z-index: 40;
			top: 25%;
			display: none;
			&[aria-hidden=false]{
				display: block;
				background-color: #ddd;
				border: 2% solid black;
			}
			.popup_content{
				z-index: 2;
				position: relative;
				top: 5em;
				left: 5%;				
			}
			h3{
				font-size: 1em;
				text-align: center;
			}
			ul{
				list-style: none;
			}
			p{
				margin: .5em .25em 1em;
			}
			button {
				position: relative;
				left: 48%;
				margin-bottom: 1.5em;
			}
		}
	}
}

