
.cunstom_icon{
	margin-right: 4%;
	margin-top: -2.9%;
	}

.view-container{
	clear: both;
    background: white;
    border-right: #526e83 1.5em solid;
    border-top: #526e83 1em solid;
    height: inherit;
    width: 100%;
    padding: 16px 14px 0;
    min-height: 600px;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
  }