.login-panel-container .pwd-info-area{
	position:relative;
}
.login-panel-container .password-tooltip-icon{
	position: absolute;
	top: 6px;
  right: -18px;
}
.login-panel-container .save-cancel-btn-holder .login-btn{
	float: left;
	width: 10em;
}
.login-panel-container .save-cancel-btn-holder .btn-block + .btn-block{
	margin-top:0px;
	float:right;
}